.header {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--black);
  z-index: 1;
}

.menu-group {
  display: flex;
  align-items: center;
}

.menu-group__burger {
  background: url(../images/burger.png);
  background-position: -3px -4px;
  width: 40px;
  height: 40px;
  background-size: 120%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.menu-group__logo {
  background: url(../images/logo.png);
  background-position: -5px -2px;
  width: 140px;
  height: 40px;
  background-size: 100%;
  margin-left: 10px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.search-group {
  display: flex;
  align-items: center;
}

.search-group__form {
  display: flex;
  align-items: center;
  align-items: stretch;
  align-content: center;
}

.search-group__search {
  border-radius: 25px 0 0 25px;
  border: 1px solid var(--gray);
  outline: 0;
  background-color: var(--black);
  border-right-color: var(--black);
  font-size: 16px;
  color: var(--white);
  padding: 10px;
  width: 450px;
  padding-left: 15px;
}

.search-group__submit {
  padding: 10px;
  padding-right: 5px;
  border: 1px solid var(--gray);
  cursor: pointer;
  background-color: var(--dark-gray);
  border-radius: 0 25px 25px 0;
  border-left: 1px solid var(--black);
}

.submit-icon {
  padding: 0 15px;
  color: var(--white);
  font-size: 18px;
}

.search-group__keyboard {
  font-size: 20px;
  color: var(--light-gray);
  padding: 0 10px;
  border-top: 1px solid var(--gray);
  border-bottom: 1px solid var(--gray);
  line-height: 2;
}

.search-group__keyboard:hover {
  color: var(--white);
}

.search-group__voice {
  color: var(--white);
  font-size: 20px;
  padding: 10px 15px;
  margin-left: 5px;
  background-color: var(--dark-gray);
  border-radius: 50%;
}

.search-group__voice:hover {
  background-color: var(--gray);
}

.account-group__list {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.account-group__make {
  color: var(--white);
  font-size: 20px;
  padding: 10px 12px;
  margin-right: 15px;
}

.account-group__notify {
  color: var(--white);
  font-size: 20px;
  padding: 10px 12px;
  margin-right: 20px;
}

.account-group__make:hover,
.account-group__notify:hover {
  background-color: var(--light-gray);
  border-radius: 50%;
}

.account-group__account {
  border-radius: 50%;
  margin-right: 30px;
}
