body > * > * {
  outline: 2px solid deeppink;
}
body > * > * > * {
  outline: 2px dashed lime;
  outline-offset: -2px;
}
body > * > * > * > * {
  outline: 2px dotted dodgerblue;
  outline-offset: -4px;
}
body > * > * > * > * > * {
  outline: 2px solid orange;
  outline-offset: -6px;
}
