@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

@import url("header.css");

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", "Verdana", sans-serif;
  line-height: 1.5;
}
